/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/

body {
  font-family: "Open sans";
  color: #fff;
}

div.hero {
  border-color: #fff;
}

h1 {
  font: 2.8em Lobster;
}

h2 {
  font-size: 2.4em;
}

h5 {
  font-weight: bold;
  margin: 3px;
}

a {
  text-decoration: none;
}

.warning {
  background-color: red;
}

.impress {
  font-weight: bold;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page {
  background-color: purple;
}

.page > div {
  width:960px;
  margin: 0 auto;
  background-color: pink;
}

div.hero {
  background-color: lightblue;
  min-height: 530px;
}

header {
  background-color: orange;
  display: flex;
}

header h1 {
  width: 200px;
}

div.search {
  flex: 1;
  text-align: right;
  padding-top: 5px;
}

nav {
  background-color: green;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 21px;
}

div.hero > div {
  background-color: magenta;
  text-align: center;
  margin-top: 200px;
  padding-bottom: 10px;

}

div.promo-section > * + * {
  margin-left: 12px;
}

.promo-section {
  background-color: darkgreen;
  display: flex;
  justify-content: center;
  color: #000;
}

.primary-content {
  display: flex;
}

aside {
  background-color: lightgreen;
  min-height: 200px;
  flex: 2;
}

main {
  background-color: blue;
  flex: 3;
}

/****************************************
  Components
*****************************************/

.promo-item {  /* Needs to be inline block */
  background-color: lightgreen;
  text-align: center;
  width: 290px;
  padding: 8px;
  transform: translateY(-15px);
}

.media-object {
  display: flex;
}

.media-object .graphic {
  width: 70px;
  height: 70px;
  background-image: url(images/dog1.jpg);
}



/*media objects make the image resize to the content*/